<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@iconscout/unicons@4.0.8/css/line.min.css">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.tailwindcss.com">
</head>

<body class="bg-gray-100 text-gray-900">
    <div class="navbar bg-base-100">
        <div class="flex-1">
            <a class="btn btn-ghost text-xl text-mono">Project X</a>
        </div>
        <div class="flex-none">
            <div class="dropdown dropdown-end px-4">
                <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
                    <div class="w-10 rounded-full">
                        <img alt="Tailwind CSS Navbar component"
                            src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg"
                            class="w-full h-full object-cover" />
                    </div>
                </div>
                <ul tabindex="0"
                    class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
                    <li>
                        <a class="justify-between" href="/<%= userId %>/profile">Profile</a>
                    </li>
                    <li><a>Settings</a></li>
                    <li><a>Logout</a></li>
                </ul>
            </div>
        </div>
    </div>

    <main class="container mx-auto mt-24 grid grid-cols-1 md:grid-cols-3 gap-8">
        <div class="md:col-span-1 space-y-4">
            <div class="bg-white p-4 rounded-lg shadow">
                <a class="flex items-center space-x-4"
                    href="/<%= userId %>/communities/<%= communityId %>/<%= personaId %>/posts/">
                    <div class="w-10 h-10 rounded-full overflow-hidden">
                        <img src="/public/assets/pf.jpg" alt="Profile Photo" class="w-full h-full object-cover">
                    </div>
                    <div>
                        <h4>Nueruse</h4>
                        <p class="text-gray-500">@nody</p>
                    </div>
                </a>
            </div>
            <div class="bg-white p-4 rounded-lg shadow space-y-2">
                <a class="block py-2 px-4 rounded-lg hover:bg-gray-100 cursor-pointer text-primary" id="profile-button">
                    <i class="uil uil-user-circle px-2"></i> Profile
                </a>
                <a class="block py-2 px-4 rounded-lg hover:bg-gray-100 cursor-pointer" id="notifications"
                    href="/<%= userId %>/communities">
                    <i class="uil uil-home px-2"></i> Back
                </a>
            </div>
            <div id="profile-popup"
                class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
                <div class="bg-white p-8 rounded-lg shadow-lg space-y-4 w-1/2">
                    <span id="close-profile-popup" class="close text-2xl cursor-pointer">&times;</span>
                    <div class="flex items-center space-x-4">
                        <div class="w-16 h-16 rounded-full overflow-hidden">
                            <img src="/public/assets/pf.jpg" alt="Profile Photo" class="w-full h-full object-cover">
                        </div>
                        <div>
                            <h4></h4>
                            <p class="text-gray-500">
                                <%= user.username %>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary w-full" id="create-post-button">Create Post</button>
        </div>

        <div class="md:col-span-2 space-y-4">
            <form class="bg-white p-4 rounded-lg shadow flex items-center space-x-4">
                <input type="text" placeholder="Apa yang anda pikirkan hari ini ?"
                    class="flex-grow p-2 border border-gray-300 rounded-lg">
                <i class="uil uil-image-plus text-xl text-gray-500"></i>
                <input type="submit" value="Post" class="btn btn-primary">
            </form>
            <% data.forEach(post=> { %>

                <div class="space-y-4">
                    <div class="bg-white p-4 rounded-lg shadow space-y-4">
                        <div class="flex justify-between items-center">
                            <div class="flex items-center space-x-4">
                                <div class="w-10 h-10 rounded-full overflow-hidden">
                                    <img src="/public/assets/pf.jpg" alt="Profile Photo"
                                        class="w-full h-full object-cover">
                                </div>
                                <div>
                                    <h3></h3>
                                    <small class="text-gray-500">
                                        <%= post.posterName %>
                                    </small>
                                </div>
                            </div>
                            <div class="relative">
                                <i id="dropdown-toggle" class="uil uil-ellipsis-h cursor-pointer">
                                    <div id="dropdown-menu"
                                        class="absolute right-0 mt-2 w-44 bg-white border rounded-lg shadow hidden">
                                        <ul class="py-2">
                                            <li><a href="/<%= userId %>/communities/<%= communityId %>/<%= personaId %>/posts/<%= post.id %>/edit"
                                                    class="block px-4 py-2 text-gray-700 hover:bg-gray-100">Edit</a>
                                            </li>
                                            <li><a href="#"
                                                    class="block px-4 py-2 text-red-600 hover:bg-gray-100">Delete</a>
                                            </li>
                                        </ul>
                                    </div>
                                </i>
                            </div>
                        </div>
                        <div class="w-full h-64 rounded-lg overflow-hidden">
                            <img src="<%= post.imageUrl %>" alt="Post Image" class="w-full h-full object-cover">
                        </div>
                        <div class="space-y-2">
                            <div class="flex space-x-4 text-xl">
                                <button class="flex items-center space-x-2 text-gray-500 hover:text-red-500">
                                    <i class="uil uil-heart"></i>
                                    <span>Like</span>
                                </button>
                                <button
                                    class="flex items-center space-x-2 text-gray-500 hover:text-blue-500 comment-button">
                                    <i class="uil uil-comment"></i>
                                    <span>Comment</span>
                                </button>
                                <button class="flex items-center space-x-2 text-gray-500 hover:text-green-500">
                                    <i class="uil uil-share"></i>
                                    <span>Share</span>
                                </button>
                            </div>
                            <div class="flex items-center space-x-2">
                                <span class="w-6 h-6 rounded-full overflow-hidden border-2 border-white">
                                    <img src="/public/assets/pf.jpg" alt="Profile Photo"
                                        class="w-full h-full object-cover">
                                </span>
                                <p>Liked by <b>Nevi</b></p>
                            </div>
                            <p><b>
                                    <%= persona.nickname %>
                                </b>
                                <%= post.description %> <span class="text-blue-500">#Tech</span>
                            </p>
                            <div class="text-gray-500 cursor-pointer">View all comments</div>
                        </div>
                    </div>
                </div>
                <% }) %>
        </div>
    </main>

    <!-- Create Post Popup -->
    <div id="create-post-popup" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
        <div class="bg-white p-8 rounded-lg shadow-lg space-y-4 w-1/2">
            <span class="close-create-post-popup text-2xl cursor-pointer">&times;</span>
            <h3 class="text-lg font-bold mb-4">Create New Post</h3>
            <form id="create-post-form" class="space-y-4"
                action="/<%= userId %>/communities/<%= communityId %>/<%= personaId %>/posts/create" method="post">
                <div>
                    <label for="description" class="block text-sm font-medium">Description</label>
                    <textarea id="description" name="description" placeholder="Enter post description"
                        class="w-full p-2 border border-gray-300 rounded-lg bg-gray-300"></textarea>
                </div>
                <div>
                    <label for="imageUrl" class="block text-sm font-medium">Image URL</label>
                    <input type="text" id="imageUrl" name="imageUrl" placeholder="Enter post imageUrl"
                        class="w-full p-2 border border-gray-300 rounded-lg bg-gray-300">
                </div>
                <!-- <div>
                    <label for="image" class="block text-sm font-medium">Image</label>
                    <input type="file" id="image" name="image" class="w-full border border-gray-300 rounded-lg">
                </div> -->
                <button type="submit" class="btn btn-primary w-full">Post</button>
            </form>
        </div>
    </div>

    <div id="profile-popup" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
        <div class="bg-white p-8 rounded-lg shadow-lg space-y-4">
            <span class="close text-2xl cursor-pointer">&times;</span>
            <div class="flex items-center space-x-4">
                <div class="w-16 h-16 rounded-full overflow-hidden">
                    <img src="/public/assets/pf.jpg" alt="Profile Photo" class="w-full h-full object-cover">
                </div>
                <div>
                    <h4>Nueruse</h4>
                    <p class="text-gray-500">@nody</p>
                </div>
            </div>
        </div>
    </div>

    <div id="comment-popup" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
        <div class="bg-white p-8 rounded-lg shadow-lg space-y-4 w-1/2">
            <span class="close-comment-popup text-2xl cursor-pointer">&times;</span>
            <h3 class="text-lg font-bold mb-4">Comments</h3>
            <div class="space-y-4">
                <div class="flex space-x-4">
                    <div class="w-10 h-10 rounded-full overflow-hidden">
                        <img src="/public/assets/pf.jpg" alt="Profile Photo" class="w-full h-full object-cover">
                    </div>
                    <div>
                        <h4>Nueruse</h4>
                        <p class="text-gray-500">This is a comment.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/public/scripts/image.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@iconscout/unicons@4.0.8/script/monochrome/bundle.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const commentButtons = document.querySelectorAll('.comment-button');
            const commentPopup = document.getElementById('comment-popup');
            const closeCommentPopup = document.querySelector('.close-comment-popup');

            const createPostButton = document.getElementById('create-post-button');
            const createPostPopup = document.getElementById('create-post-popup');
            const closeCreatePostPopup = document.querySelector('.close-create-post-popup');

            commentButtons.forEach(button => {
                button.addEventListener('click', () => {
                    commentPopup.classList.remove('hidden');
                });
            });

            closeCommentPopup.addEventListener('click', () => {
                commentPopup.classList.add('hidden');
            });

            createPostButton.addEventListener('click', () => {
                createPostPopup.classList.remove('hidden');
            });

            closeCreatePostPopup.addEventListener('click', () => {
                createPostPopup.classList.add('hidden');
            });
        });

        document.addEventListener('DOMContentLoaded', function () {
            const dropdownToggle = document.getElementById('dropdown-toggle');
            const dropdownMenu = document.getElementById('dropdown-menu');

            dropdownToggle.addEventListener('click', () => {
                dropdownMenu.classList.toggle('hidden');
            });

            document.addEventListener('click', (event) => {
                if (!dropdownToggle.contains(event.target) && !dropdownMenu.contains(event.target)) {
                    dropdownMenu.classList.add('hidden');
                }
            });
        });

        document.addEventListener('DOMContentLoaded', function () {
            const profileButton = document.getElementById('profile-button');
            const profilePopup = document.getElementById('profile-popup');
            const closeProfilePopup = document.getElementById('close-profile-popup');

            profileButton.addEventListener('click', () => {
                profilePopup.classList.remove('hidden');
            });

            closeProfilePopup.addEventListener('click', () => {
                profilePopup.classList.add('hidden');
            });

            document.addEventListener('click', (event) => {
                if (!profilePopup.contains(event.target) && !profileButton.contains(event.target)) {
                    profilePopup.classList.add('hidden');
                }
            });
        });

    </script>
</body>

</html>