<!DOCTYPE html>
<html data-theme="cupcake" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://js.stripe.com/v3/"></script>
</head>

<body class="flex items-center justify-center min-h-screen">
    <div class="p-5 border rounded text-center text-gray-500 max-w-sm">
        <img class="w-32 h-32 rounded-full mx-auto" src="https://loremflickr.com/320/320/girl" alt="">
        <div class="text-lg mt-5">
            <a href="#"
                class="font-medium leading-none text-gray-900 hover:text-indigo-600 transition duration-500 ease-in-out">
                <%=data.Profile.fullName %>
            </a>
            <p class="mt-2">
                <%= data.username %>
            </p>
            <p class="mt-2">
                <%= data.email %>
            </p>
        </div>

        <p class="mt-2 text-md text-gray-900">
            Gender: <%= data.Profile.gender %>
        </p>
        <p class="mt-2 text-md text-gray-900">
            Age: <%= data.Profile.age %>
        </p>
        <p class="mt-2 text-md text-gray-900">
            Date Of Birth: <%= formatDate(data.Profile.dateOfBirth) %>
        </p>

        <div class="flex mt-4 justify-center text-gray-900">
            Communities Joined: <%= data.Profile.age %>
        </div>

        <div class="mt-4">
            <% if (data.role===2) { %>
                <button id="checkout-button"
                    class="inline-block bg-blue-500 text-white px-6 py-2 rounded-md font-semibold hover:bg-blue-600 transition duration-300">
                    Proceed to Payment
                </button>

                <% } %>
        </div>
    </div>

    <div id="payment-modal" class="hidden fixed inset-0 bg-gray-800 bg-opacity-75 flex items-center justify-center">
        <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-md">
            <button id="close-modal" class="absolute top-2 right-2 text-gray-500 hover:text-gray-700">✖</button>
            <h2 class="text-xl font-bold mb-4">Enter Your Payment Details</h2>
            <form id="payment-form" class="space-y-4" action="/<%= userId %>/profile/changeRole" method="get">
                <div id="card-element" class="p-3 border border-gray-300 rounded-md"></div>
                <input type="submit" class="w-full bg-blue-500 text-white p-3 rounded-md font-bold" value="Pay" />
                <div id="card-errors" role="alert" class="text-red-500 mt-2"></div>
            </form>
        </div>
    </div>

    <script>
        const stripe = Stripe('pk_test_51Pe026IxOJuBOWADmn7MdEaKXyRldWfdyI1Jw9h5SS7qnoB0LcAuRohWUU1aTm6zLaItFcCBZaKxzuXHmXKqBZ5t00fcvZGehS');
        const elements = stripe.elements();
        const cardElement = elements.create('card');
        cardElement.mount('#card-element');

        let clientSecret;

        document.getElementById('checkout-button').addEventListener('click', async () => {
            document.getElementById('payment-modal').classList.remove('hidden');
            fetch('http://localhost:3000/create-payment-intent', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ amount: 1000, currency: 'usd' }),
            })
                .then(response => response.json())
                .then(data => {
                    clientSecret = data.clientSecret;
                });
        });

        document.getElementById('close-modal').addEventListener('click', () => {
            document.getElementById('payment-modal').classList.add('hidden');
        });


    </script>
</body>

</html>